# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/.env
/.env.backup
/.env.production
Homestead.json
Homestead.yaml
.phpunit.result.cache
.phpactor.json
/.phpunit.cache

# OS & Editor
.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.zed

# Logs & temp
*.log
/public/build
/public/hot
/storage/pail
