// @media (prefers-color-scheme: dark) {

// }

:root {
  --black: #232323;
  --selected: #f69c4b;
  --btn: #ce5905;
  --btn-hover: #e67a3b;
  --checkbox-checked: #106ef2;
  --bg: #e5e5e5;
  --gray: #6c6c6c;
  --white: #ffffff;
  --divider: #c2c2c2;
  --home-bg-img: url("imgs/home-page/Home-bg.svg");
  --home-bg-img-dark: url("imgs/home-page/Home-bg-dark.svg");
}
* {
  &.he {
    direction: rtl;
  }
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: var(--bg);
}
.btn {
  color: var(--white);
  background-color: var(--btn);
  border: none;
  &:hover {
    background-color: var(--btn-hover);
  }
}
